/* Colors */
.violet{
    color:#AD1FEA;
}
.blue{
    color: #4661E6;
}
.d-blue{
    color: #373F68;
}
.white{
    color: #FFFFFF;
}
.gray{
    color: #F2F4FF;
}
.l-gray{
    color: #F7F8FD;
}
.d-blue2{
    color: #3A4374;
}
.d-gray{
    color: #647196;
}
.orange{
    color: #F49F85;
}
.cyan{
    color: #62BCFA;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap')