@font-face {
    font-family: 'Jost';
    font-weight: 700;
    src: url('Jost-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    font-weight: 600;
    src: url('JostSemibold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    font-weight: 400;
    src: url('jost-regular.ttf') format('truetype');
    font-display: swap;
}

/* Define your typography styles */
.header1 {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.33px;
}

.header2 {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
}

.header3 {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
}

.header4 {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
}

body {
    font-family: 'Jost', sans-serif;
}

/* Define additional styles for Body 1, Body 2, and Body 3 */
/* 
Body 1 - Jost Regular  |  16px; 23px Line
Body 2 - Jost Regular  |  15px; 22px Line
Body 3 - Jost Semibold  |  13px; 19px Line
*/

.body1{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.22px;
}

.body2{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
}

.body3{
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.17px;
}


